<a href="https://colab.research.google.com/github/Jashan22092-tech/car/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
cars_data = pd.read_csv('Cardetails.csv')

In [ ]:
cars_data.head()

In [ ]:
cars_data.drop(columns=['torque'], inplace=True)

In [ ]:
cars_data.head()

In [ ]:
cars_data.shape

PREPROCESSING

In [ ]:
#NULL CHECK

cars_data.isnull().sum()

In [ ]:
# REMOVED NULL VALUES FROM THE AIN DATA SET
cars_data.dropna(inplace=True)

In [ ]:
cars_data.shape

In [ ]:
# DUPLICATE CHECK
cars_data.duplicated().sum()

In [ ]:
# DROP DUPLICATES
cars_data.drop_duplicates(inplace = True)

In [ ]:
cars_data.shape

In [ ]:
cars_data.info()

DATA ANALYSIS

In [ ]:
for col in cars_data.columns:
  print('Unique values of '+ col)
  print(cars_data[col].unique())
  print("================")

In [ ]:
def get_brand_name(car_name):
  car_name = car_name.split(" ")[0] # we wrote index 0 as every car name has brand at first
  return car_name.strip() # used strip to remove extra spaces

In [ ]:
def clean_data(value):
  value = value.split('')[0]
  value = (value.strip())
  if value == '':
    value = 0
  return float(value)

In [ ]:
get_brand_name("Maruti Swift Dezire VDI")

In [ ]:
cars_data['name'] = cars_data['name'].apply(get_brand_name)

In [ ]:
cars_data['name'].unique()

In [ ]:
cars_data['mileage'] = cars_data['mileage'].apply(get_brand_name)

In [ ]:
cars_data['max_power'] = cars_data['max_power'].apply(get_brand_name)

In [ ]:
cars_data['engine'] = cars_data['engine'].apply(get_brand_name)

In [ ]:
for col in cars_data.columns:
  print('Unique values of '+ col)
  print(cars_data[col].unique())
  print("================")

In [ ]:
cars_data['name'].replace(['Maruti','Skoda','Honda','Hyundai','Toyota','Ford','Renault','Mahindra',
'Tata','Chevrolet','Datsun','Jeep','Mercedes-Benz','Mitsubishi','Audi',
'Volkswagen','BMW','Nissan','Lexus','Jaguar','Land','MG','Volvo','Daewoo',
'Kia','Fiat','Force','Ambassador','Ashok','Isuzu','Opel'],
                          [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
                          ,inplace=True)

In [ ]:
cars_data['transmission'].unique()

In [ ]:
cars_data['transmission'].replace(['Manual', 'Automatic'],[1,2],inplace=True)

In [ ]:
cars_data['seller_type'].unique()

In [ ]:
cars_data['seller_type'].replace(['Individual', 'Dealer', 'Trustmark Dealer'],[1,2,3],inplace=True)

In [ ]:
cars_data['fuel'].unique()

In [ ]:
cars_data['fuel'].replace(['Diesel', 'Petrol', 'LPG', 'CNG'],[1,2,3,4],inplace=True)

In [ ]:
cars_data.info()

In [ ]:
cars_data.reset_index(inplace=True)

In [ ]:
cars_data

In [ ]:
cars_data['owner'].unique()

In [ ]:
cars_data['owner'].replace(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'],[1,2,3,4,5],inplace=True)

In [ ]:
cars_data.drop(columns=['index'],inplace=True)

In [ ]:
cars_data

In [ ]:
input_data = cars_data.drop(columns=['selling_price'])
output_data = cars_data['selling_price']

TEST AND TRAIN

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2)

MODEL CREATION

In [ ]:
model = LinearRegression()

TRAIN MODEL

In [ ]:
model.fit(x_train , y_train)

In [ ]:
predict = model.predict(x_test)

In [ ]:
predict

In [ ]:
x_train.head(1)

In [ ]:
input_data_model = pd.DataFrame([[10,2015,10000,1,1,1,1,18.3,1991,147.9,5.0]]
                                ,columns=["name","year","km_driven","fuel","seller_type","transmission","owner","mileage","engine","max_power","seats"])

In [ ]:
model.predict(input_data_model)

In [ ]:
import pickle as pk

In [ ]:
pk.dump(model,open('model.pkl' , 'wb'))

In [ ]:
from google.colab import files
files.download('model.pkl')

In [ ]:
import pandas as pd
import numpy as np
import pickle as pk
import streamlit as st

In [ ]:
model = pk.load(open('model.pkl' , 'rb'))

In [2]:
st.header('car Price Prediction Model')

NameError: name 'st' is not defined